<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body" *ngIf="!items().length > 0">
    <p> Não há itens adicionados ao carrinho! </p>
  </div>
  <div class="box-body" *ngIf="items().length > 0">
    <div class="table-responsive">
        <table class="table">
          <tbody>
          <tr *ngFor="let item of items()">
            <th style="width:60%">{{item.menuItem.name}} - ({{item.quantity}}x) </th>

            <td class="text-right">{{item.value() | currency : 'BRL' : true}}</td>
            <td class="text-right"><a class="btn btn-sm danger" (click)="removeItem(item)"><i class="fa fa-times"></i></a></td>
          </tr>
          <tr>
            <th>Total:</th>

            <td class="text-right">{{total() | currency : 'BRL' : true}}</td>
          </tr>
        </tbody></table>
      </div>
  </div>
  <div class="box-footer" *ngIf="items().length > 0">
    <div class="pull-right">
      <button type="button" class="btn btn-danger" (click)="clear()"><i class="fa fa-trash"></i> Limpar</button>
      <a [routerLink]="['/order']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
    </div>
  </div>
</div>
